<div class="box">
    <app-matrix></app-matrix>
    
       
    <section class="bg">
        <div class="left">
            <h1>hi</h1>
            <h4>aaaa aaaaa aaa</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, error commodi assumenda fugiat quos itaque consectetur repudiandae quod. Laborum, ea.</p>
        </div>
        <div class="center">
            <div class="box-img"></div>
        </div>
        <div class="right">
            
        </div>
    </section>
    
</div>
