h1,h2,h3,h4,h5,h6{
    font-family: 'Pixelify Sans', sans-serif;
}

.box{
    width:100%;
    height: 100vh;
    /*z-index: 1; */
}

.bg{
    position:fixed;
    left: 0;
    top: 100px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: calc(100vh - 100px);
    color: beige;
    display: flex;
    flex-wrap: nowrap;
}

.left{
    height: 100%;
    width: 30%;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.center{
    height: 100%;
    width: 65%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-img{
    height: 100%;
    width: 100%;
    border: 1px solid red;
    background-image: url(../../../assets/pics/IMG_1194.JPG);
    background-size: cover;
    
    
}

.right{
    height: 90%;
    width: 5%;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 60px;
}
