<div class="container">
    <app-matrix></app-matrix>
    <div class="sections">
        <section class="section1">
            <h1>    BENVENUTO    </h1>
            <h4>titolo2</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, deserunt?
            </p>
        </section>
        <section class="section2">
            <h1>    BENVENUTO    </h1>
            <h4>titolo2</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, deserunt?
            </p>
        </section>
    </div>
</div>
