<section class="banner">
    <div class="slider">
        <div class="slide">
            <img src="../../../assets/sfondo1.jpg" alt="">
            <div class="left-info">
                <div class="penetrate-blur">
                    <h1>Chi</h1>
                </div>
                <div class="content">
                    <h3>China forest tour</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus inventore voluptatibus, aliquam magnam hic, molestiae fugiat explicabo exercitationem nemo esse, necessitatibus consectetur est quod quia porro rerum odit? Incidunt, aliquam?</p>
                    <a href="#" class="btn">More details</a>
                </div>
            </div>
            <div class="right-info">
                <h1>na</h1>
                <h3>Forest</h3>
            </div>
        </div>
    </div>
    <div class="navigation">
        <span class="prev-btn">
            <i class="bx bx-chevron-left"></i>
        </span>
        <span class="next-btn">
            <i class="bx bx-chevron-right"></i>
        </span>
    </div>
</section>